@model Gerenciamento_eventos.Models.ViewModel.EventoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-4 text-primary">Detalhes do Evento</h1>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Evento</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.Nome)</dd>

            <dt class="col-sm-2">Descrição</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.Descricao)</dd>

            <dt class="col-sm-2">Data Inicio</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.DataInicio)</dd>

            <dt class="col-sm-2">Data Fim</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.DataFim)</dd>

            <dt class="col-sm-2">Local</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.Local.Nome) (Endereço: @Html.DisplayFor(model => model.Evento.Local.Endereco))</dd>

            @if (Model.Evento.Patrocinador != null)
            {
                <dt class="col-sm-2">Patrocinador</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.Patrocinador.Nome)</dd>
            }

            <dt class="col-sm-2">Criador</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Evento.Criador.Nome)</dd>

            <dt class="col-sm-2">Inscritos</dt>
            <dd class="col-sm-10">@Model.InscricoesCount</dd>

            @if (Model.Participantes.Count > 0)
            {
                <dt class="col-sm-2">Participantes</dt>
                <dd class="col-sm-10">
                    <ul>
                        @foreach (var participante in Model.Participantes)
                        {
                            <li>@participante.Nome</li>
                        }
                    </ul>
                </dd>
            }
        </dl>
    </div>
    <div class="card-footer text-end">
        @if (Model.Evento.CriadorUsuarioId == ViewBag.UserId)
        {
            <a asp-action="Edit" asp-route-id="@Model.Evento.Id" class="btn btn-warning me-2">Editar</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
