@model IEnumerable<Gerenciamento_eventos.Models.ViewModel.EventoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4 mb-4">Eventos</h1>

<p>
    <a class="btn btn-primary mb-3" asp-action="Create">Criar Novo Evento</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="get" asp-action="Index">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="data" class="form-label">Data do Evento</label>
            <input type="date" class="form-control" id="data" name="data">
        </div>
        <div class="col-md-4">
            <label for="local" class="form-label">Local</label>
            <select class="form-select" id="local" name="localId">
                <option value="">Selecione o Local</option>
                @foreach (var local in ViewBag.Locais)
                {
                    <option value="@local.Id">@local.Nome</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label for="patrocinador" class="form-label">Patrocinador</label>
            <select class="form-select" id="patrocinador" name="patrocinadorId">
                <option value="">Selecione o Patrocinador</option>
                @foreach (var patrocinador in ViewBag.Patrocinadores)
                {
                    <option value="@patrocinador.Id">@patrocinador.Nome</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
</form>

<div class="list-group mt-4">
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Evento.Nome</h5>
                <small>@item.Evento.Data.ToShortDateString()</small>
            </div>
            <p class="mb-1">@item.Evento.Descricao</p>
            <small>Local: @item.Evento.Local.Nome (Endereço: @item.Evento.Local.Endereco)</small>
            @if (@item.Evento.Patrocinador != null)
            {
                <div>
                    <small>Patrocinador: @item.Evento.Patrocinador.Nome</small>
                </div>
            }
            <div>
                <small>Inscritos: @item.InscricoesCount</small>
            </div>
            <div class="mt-2">
                @if (ViewBag.UserId == item.Evento.CriadorUsuarioId)
                {
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Evento.Id">Editar</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Evento.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Evento.Id">Excluir</a>
                }
                else
                {
                    var isInscrito = item.Evento.Inscricoes.Any(i => i.ParticipanteUsuarioId == ViewBag.UserId);
                    if (isInscrito)
                    {
                        <a class="btn btn-secondary btn-sm" asp-action="Desinscricao" asp-route-id="@item.Evento.Id">Cancelar Inscrição</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Evento.Id">Detalhes</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm" asp-action="Inscricao" asp-route-id="@item.Evento.Id">Inscrever</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Evento.Id">Detalhes</a>
                    }
                }
            </div>
        </div>
    }
</div>
